/*
    Keep all variables for use across the application's styles in here.
*/

:root {
    --acent-blue: #5caed7;
    --apple-green: #7ed321;
    --aqua-marine: #50e3c2;
    --army-green: #37521a;
    --azure-three: #269af3;
    --azure-two: #0daeff;
    --azure: #0093ee;
    --bluegrey: #7f8fa4;
    --bluey-green: #2eb18b;
    --cloudy-blue: #bbc5d5;
    --dark-grey-blue-three: #344053;
    --dark-grey-blue-two: #354052;
    --dark-grey-blue: #344052;
    --dark-sky-blue-three: #2aa3e1;
    --dark-sky-blue-two: #4aace9;
    --dark-sky-blue: #3bb0d6;
    --dark-three: #1d2531;
    --dark-two: #313c4d;
    --dark: #222c3c;
    --dirty-blue: #4483a4;
    --dodger-blue: #2da1f8;
    --green: #1bb934;
    --greenish-teal: #34bc9d;
    --grey: #a0b0c3;
    --kiwi-green: #93dc49;
    --kiwi: #ade94c;
    --light-magenta: #f97ef3;
    --light-navy-blue: #28617f;
    --light-purple: #ad69fa;
    --light-sage: #b8e986;
    --light-yellowish-green: #c8ff90;
    --lightblue-two: #58bbee;
    --lightblue: #82d0f8;
    --lightish-red: #ff2d4d;
    --medium-green: #37b148;
    --off-blue: #528eac;
    --pale-grey-three: #e6eaee;
    --pale-grey-two: #e4eaef;
    --pale-grey: #eff3f6;
    --purpley: #8a69e8;
    --reddish-pink: #ff2d76;
    --silver: #ced0da;
    --sky: #7ed1fa;
    --squash: #f6a623;
    --steel: #6f8294;
    --sun-yellow: #f8e81c;
    --true-white: #fff;
    --ugly-purple: #a94c92;
    --vivid-purple: #8214ff;
    --water-blue: #1991eb;
    --white: #f8f8f8;
}
